

<section class="store">
    <div class="space-35"></div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <nav class="navbar">
                <div class="">
                    <div class="" >
                        <ul class="nav navbar-nav" ng-show="orderProps.length > 0">
                            <li class="disabled">
                                <a href="#">Order By:</a>
                            </li>
                            <li class="">
                                <button type="button" class="btn navbar-btn btn-xs btn-link text-uppercase" ng-click="resetOrderProp($event)">default</button>
                            </li>
                            <li ng-repeat="prop in orderProps" class="order-prop" ng-class="{'active' : currentOrderProp == prop}">
                                <button type="button" class="btn navbar-btn btn-xs btn-link" ng-click="setOrderProp($event, prop)">{{ prop | uppercase }}</button>
                            </li>
                        </ul>

                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" ng-model="query" ng-change="onQueryChange($event)">
                            </div>
                        </form>

                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">


            <div class="products-list flex-container">
                <div class="thumbnail product flex-item" ng-repeat="item in product.list | filter:query | orderBy:currentOrderProp track by $index" id="product-{{ item.id }}">
                    <img ng-src="{{ item.thumbnail }}" alt="{{ item.name }}">
                    <div class="caption">
                        <h3 class="text-center" ng-bind="item.name"></h3>
                        <p>
                            <strong>category:</strong>&nbsp;<span ng-bind="item.categories.join(', ');"></span>
                        </p>
                        <p class="">
                            <button ng-click="product.addToCart($event, item)" class="btn btn-sm btn-block btn-primary" type="button"><small>Add To Cart:</small>
                                {{ item.price | currency }}</button>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
